# 더빌 CMS
THEBILL_CMS_LOGIN_URL=
THEBILL_CMS_USERNAME=
THEBILL_CMS_PASSWORD=

# 에어테이블
AIRTABLE_PAT=
AIRTABLE_BASE_ID=
AIRTABLE_TABLE_NAME=
AIRTABLE_KEY_FIELD=

# 슬랙
SLACK_BOT_TOKEN=
SLACK_CHANNEL=
SLACK_NEW_CLIENT_CHANNEL=#신규수임처
